@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --background: hsl(0, 0%, 7%);
  --primary: hsl(145, 100%, 40%);
  --card: hsl(0, 0%, 13%);
  --secondary: hsl(0, 0%, 33%);
  --foreground: hsl(0, 0%, 70%);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar {
    scrollbar-color: var(--secondary) transparent;
    scrollbar-track-color: var(--background);
  }

  .scrollbar::-webkit-scrollbar-button {
    display: none;
    width: 0;
  }

  ::-moz-scrollbar-button:decrement,
  ::-moz-scrollbar-button:increment,
  ::-webkit-scrollbar-button:decrement,
  ::-webkit-scrollbar-button:increment {
    width: 0px;
  }
}